<!--
 part of disease-patientGroupingCombo-txLine.html
-->

<div ng-show="isAdmin">
    <form novalidate>


        <div class="row">
            <div class="small-12 columns">
                Primary Options:
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="small-12 columns">
                <label>Group A</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-primary-group-a />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsPrimaryGroupA | orderBy:'drug'">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugPrimaryGroupA(drug.drugName)">Remove</button>
                            <label>
                                {{drug.drugName}} - <input value="{{drug.dosage}}" type="text" id="dosagePrimaryGroupA-{{drug.drugName}}" placeholder="Enter dosage..."/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns">
                <label>Group B</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-primary-group-b />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsPrimaryGroupB | orderBy:'drug' track by $index">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugPrimaryGroupB($index)">Remove</button>
                            <label>
                                {{drug.drugName}} - <input value="{{drug.dosage}}" type="text" id="dosagePrimaryGroupB-{{drug.drugName}}" placeholder="Enter dosage..."/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns">
                <label>Group C</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-primary-group-c />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsPrimaryGroupC | orderBy:'drug'">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugPrimaryGroupC(drug.drugName)">Remove</button>
                            <label>
                                {{drug.drugName}} - <input value="{{drug.dosage}}" type="text" id="dosagePrimaryGroupC-{{drug.drugName}}" placeholder="Enter dosage..."/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
