<div ng-show="isAdmin">
    <form novalidate>


        <div class="row">
            <div class="small-12 columns">
                Tertiary Options:
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="small-12 columns">
                <label>Group A</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-tertiary-group-a />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsTertiaryGroupA | orderBy:'drug'">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugTertiaryGroupA(drug)">Remove</button>
                            <label>
                                {{drug}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns">
                <label>Group B</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-tertiary-group-b />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsTertiaryGroupB | orderBy:'drug'">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugTertiaryGroupB(drug)">Remove</button>
                            <label>
                                {{drug}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns">
                <label>Group C</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTableShort">
                <div class="interactionDrugSearch">
                    <tx-drug-search-typeahead-tertiary-group-c />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">

                <div ng-repeat="drug in selectedDrugsTertiaryGroupC | orderBy:'drug'">
                    <div class="interactionInfoContainer">
                        <div class="interactionButtons">
                            <button type="button" class="tiny" ng-click="removeDrugTertiaryGroupC(drug)">Remove</button>
                            <label>
                                {{drug}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
