.listingTable {
    max-width:360px;
    table-layout: fixed;
    word-wrap:break-word;
}

.listingTable .nameCell {
    max-width: 265px;

}

.listingTable .actionCell {
    max-width: 30px;

}

.listingTable .checkBoxCell {
    max-width: 30px;

}

.listingTable .selectBoxCell {
    max-width: 52px;

}

.listingTable .summaryFieldCell {

    max-width: 160px;

}