
    <p>
        This is paragraph one.

    </p>

<p>
    This is paragraph two.
</p>

<p>
    This is paragraph three.
</p>

    <!--
<a href="#/admin/drugList" ng-show="roles.indexOf('doctor') > -1">Drug List</a>
  <br/>
-->

<!--
<a href="#/admin/clientManagement" ng-show="roles.indexOf('admin') > -1">Client Management</a>
-->
<!--
<div>
    <table>
        <th>Role</th>
        <tr ng-repeat="theRole in roles">
            <td>
                {{theRole}}
            </td>
        </tr>
    </table>

</div>
-->
<!--
<div class="off-canvas-wrap" ng-controller="OffCanvasDemoCtrl">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Home</h1>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Left Sidebar</a></li>
                <li><a href="#/admin/clientManagement" ng-show="roles.indexOf('admin') > -1">Client Management</a>
                </li>
            </ul>
        </aside>
        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Right Sidebar</a></li>
            </ul>
        </aside>
        <section class="main-section">
            <div class="small-12 columns">
                <h1>bmwpharm</h1>
            </div>
        </section>

        <a class="exit-off-canvas"></a>
    </div>
</div>
-->