
<div ng-show="isAdmin">
    <p>
    <div class="row">
        <div class="small-12 columns">
            Disease Name: {{disease.diseaseName}}
        </div>
    </div>


<div class="row">
    <div class="small-12 columns">

        <table class="listingTable">

            <thead>
            <tr>
                <th>Patient Grouping Name<a href="#/admin/diseaseManagement/patientGroupCombos/new/{{disease.id}}">
                    <i class="foundicon-plus"></i></a>
                </th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="patientGrouping in patientGroupings">

                <td class="nameCell">
                    <!--
                    <a href="#/admin/diseaseManagement/patientGroupCombos/detail/{{combo.id}}">{{combo.comboName}}</a>
                    -->
                    {{patientGrouping.patientGroupingName}}
                </td>
                <td class="actionCell">
                    <!--
                    <a href="#/admin/diseaseManagement/patientGroupCombos/edit/{{combo.id}}"><i class="foundicon-edit"></i></a>
                    -->
                    <a href="#/admin/diseaseManagement/patientGroupingCombo/{{patientGrouping.id}}"><i class="foundicon-edit"></i></a>
                    <!--
                    me
                    -->
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</div>