
<div ng-show="isAdmin">
    <p>
    <div class="row">
        <div class="small-12 columns">
            {{disease.diseaseName}}:{{patientGroupingCombo.patientGroupingName}}
        </div>
    </div>


    <div class="row">
        <div class="small-12 columns">

            <table class="listingTable">

                <thead>
                <tr>
                    <th>TxLines
                        <!--
                        <a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupingCombo/{{patientGroupingCombo.id}}/tx/new">
                        -->
                        <a href="#/admin/txLineManagement/disease/{{disease.id}}/patientGroupingCombo/{{patientGroupingCombo.id}}/tx/new">
                        <i class="foundicon-plus"></i></a>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="txLine in txLines">

                    <td class="nameCell">
                        {{txLine.number}} - {{txLine.name}}
                    </td>
                    <!--
                    <td class="actionCell">
                        <a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupingCombo/edit/{{patientGrouping.id}}"><i class="foundicon-edit"></i></a>
                    </td>
                    -->
                    <td class="nameCell">
                        <a href="#/admin/txLineManagement/edit/{{txLine.id}}/disease/{{disease.id}}/patientGroupingCombo/{{patientGroupingCombo.id}}">edit</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>