
<div ng-show="isAdmin">
    <p>
    <div class="row">
        <div class="small-12 columns">
            Disease Name: {{disease.diseaseName}}
        </div>
    </div>


<div class="row">
    <div class="small-12 columns">

        <table class="listingTable">

            <thead>
            <tr>
                <th>Patient Grouping Name<a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupCombos/new/">
                    <i class="foundicon-plus"></i></a>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="patientGrouping in patientGroupings">

                <td class="nameCell">
                    {{patientGrouping.patientGroupingName}}
                </td>
                <td class="actionCell">
                    <a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupingCombo/edit/{{patientGrouping.id}}"><i class="foundicon-edit"></i></a>
                </td>
                <td class="nameCell">

                    <a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupingCombo/{{patientGrouping.id}}/tx/new">Tx</a>

                    <!--
                    <a href="#/admin/diseaseManagement/disease/{{disease.id}}/patientGroupingCombo/{{patientGrouping.id}}/tx/list">TxLines</a>
                    -->
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</div>