<div ng-show="isAdmin">
    <form name="myForm" novalidate>

        <div class="row" ng-show="isDuplicatePatientGroupName">
            <div class="small-12 columns">
                <label class="error">Duplicate Patient Group Name</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label ng-class="{error: myForm.patientGroupName.$invalid}">Patient Group Name
                    <input type="text" id="patientGroupName" name="patientGroupName"
                           ng-model="patientGroup.patientGroupName"
                           ng-focus="resetDuplicatePatientGroupName()"
                           ng-change="resetDuplicatePatientGroupName()"
                           ng-mouseleave="checkDuplicatePatientName(patientGroup.patientGroupNameName)"
                           required/>
                    <span ng-show="myForm.patientGroupName.$invalid" class="help-inline">
                                                                    Required</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <hr>
            </div>
        </div>


        <!-- Assessments -->
        <p>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" ng-model="search" class="search-query" placeholder="Assessment search"/>
            </div>
        </div>
        </p>

        <div class="row" ng-show="hasRangeError">
            <div class="small-12 columns">
                <label class="error">Range Error</label>
            </div>
        </div>

        <div class="row" ng-show="hasNumberInputError">
            <div class="small-12 columns">
                <label class="error">Input Number Error</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns divTable">
                <div ng-repeat="assessment in assessments | filter:search | orderBy:'assessmentName'">
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id="cb-{{$index}}"/>
                                <input type="hidden" id="ass-{{$index}}" value="{{assessment.id}}"/>
                            </td>
                            <td>
                                <label>{{assessment.assessmentName}}</label>
                            </td>
                            <td>
                                <select id="sel-{{$index}}"> <!-- onchange="clearRangeError($index)"> -->
                                    <option value="na">N/A</option>
                                    <option value="eq">=</option>
                                    <option value="lt">&lt;</option>
                                    <option value="lteq">&lt;=</option>
                                    <option value="gt">&gt;</option>
                                    <option value="gteq">&gt;=</option>
                                    <option value="range">range</option>
                                </select>
                            </td>
                            <td>
                                <!--
                                <div id="rangeError-{{$index}}" style="display: none;">
                                    use a dash to indicate range
                                </div>
                                -->
                                <input type="text" id="in-{{$index}}">
                                                        <!--
                                                        ng-mouseleave="rangeCheck($index)"
                                                        ng-mouseover="clearRangeError($index)">
                                                        -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Assessments -->

        <div class="row">
            <div class="small-12 columns">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <button type="button" class="tiny" ng-click="cancel()">Cancel</button>
                <button type="button" class="tiny" ng-click="save()" ng-disabled="isClean() || myForm.$invalid
                                                                                            || isDuplicatePatientGroupName
                                                                                            ">
                                                                        Save
                </button>
            </div>
        </div>

    </form>
</div>