

<div ng-show="isAdmin">

    <form name="myForm">

        <div class="row" ng-show="isDuplicatePatientGroupName">
            <div class="small-12 columns">

                <label class="error">Duplicate Patient Group Name --
                    <a ng-click="resetDuplicatePatientGroupName()"> click to clear</a>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div class="control-group" ng-class="{error: myForm.selectedPatientGroup.patientGroupName.$invalid}">
                    <label>Patient Group Name
                    </label>

                    <input type="text" name="patientGroupName" ng-model="selectedPatientGroup.patientGroupName" required>

                    <span ng-show="myForm.selectedPatientGroup.patientGroupName.$error" class="help-inline">
                                                                                Required</span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <hr>
            </div>
        </div>

        <div class="row" ng-show="hasRangeError">
            <div class="small-12 columns">
                <label class="error">Range Error</label>
            </div>
        </div>

        <div class="row" ng-show="hasNumberInputError">
            <div class="small-12 columns">
                <label class="error">Input Number Error</label>
            </div>
        </div>

        <p>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" ng-model="search" class="search-query" placeholder="Assessment search"/>
            </div>
        </div>
        </p>

        <div class="row">
            <div class="small-12 columns divTable">
                <div ng-repeat="assessment in assessments | filter:search | orderBy:'assessmentName'">
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id="cb-{{$index}}"/>
                                <input type="hidden" id="ass-{{$index}}" value="{{assessment.id}}"/>
                            </td>
                            <td>
                                <label>{{assessment.assessmentName}}</label>
                            </td>
                            <td>
                                <select id="sel-{{$index}}">
                                    <option value="na">N/A</option>
                                    <option value="eq">=</option>
                                    <option value="lt">&lt;</option>
                                    <option value="lteq">&lt;=</option>
                                    <option value="gt">&gt;</option>
                                    <option value="gteq">&gt;=</option>
                                    <option value="range">range</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="in-{{$index}}">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <hr>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns">
                <button type="button" class="tiny" ng-click="cancel()">Cancel</button>
                <button class="tiny" ng-click="save()" ng-disabled="isClean() || myForm.$invalid
                                                                        || isDuplicatePatientGroupName"
                        class="btn btn-primary">Save</button>
                <button class="tiny" ng-click="delete()" ng-disabled="isClean() || myForm.$invalid"
                        class="btn btn-primary">Delete</button>

            </div>
        </div>
    </form>
    <!-- used to fire pageLoaded() only -->
    <span ng-show="pageLoaded()"></span>

</div>