
<div class="interactionDrugSearch">
    <disease-search-typeahead />
</div>



<div class="row">
    <div class="small-12 columns divTable">

        <div ng-repeat="disease in patient.diseases | orderBy:'diseaseName'">
            <div class="interactionInfoContainer">
                <div class="interactionButtons">
                    <button type="button" class="tiny" ng-click="removeDisease(disease.id)">Remove</button>
                    <label>
                        {{disease.diseaseName}}
                    </label>
                </div>
            </div>
        </div>


    </div>
</div>