
<div ng-show="isAdmin || isClient">
<form novalidate>

    <ul class="off-canvas-list">
        <li><label ng-click="patientSection('nav')">{{selectedSection}}</label></li>
    </ul>


    <div>
        Patient: {{patient.getFullName()}}
        <br/>
        ID: {{patient.getIdForPage()}}
    </div>


    <ul class="off-canvas-list" ng-show="navSection">
        <li><a ng-click="patientSection('general')">General</a></li>
        <!--
        <li><a ng-click="patientSection('lipidPanel')">Lipid Panel</a></li>
        <li><a ng-click="patientSection('bloodChemistry')">Blood Chemistry</a></li>
        <li><a ng-click="patientSection('cbc')">CBC</a></li>
        <li><a ng-click="patientSection('familyHistory')">Family History</a></li>
        <li><a ng-click="patientSection('cardiac')">Cardiac</a></li>
        <li><a ng-click="patientSection('respiratory')">Respiratory</a></li>
        <li><a ng-click="patientSection('allergies')">Allergies</a></li>
        <li><a ng-click="patientSection('mental')">Mental</a></li>
        <li><a ng-click="patientSection('skeletal')">Skeletal</a></li>
        <li><a ng-click="patientSection('muscular')">Muscular</a></li>
        -->
        <li><a ng-click="patientSection('diseases')">Diseases</a></li>

    </ul>

    <div ng-show="generalSection">
        <div ng-include="'frontend/partials/patient/patientSections/generalSection.html'"></div>
    </div>

    <div ng-show="bloodChemistrySection">
        <div ng-include="'frontend/partials/patient/patientSections/bloodChemistrySection.html'"></div>
    </div>


    <div class="row" ng-show="diseasesSection">
        <div ng-include="'frontend/partials/patient/patientSections/diseasesSection.html'"></div>
    </div>

    <br/>

    <div class="row" ng-show="hasValidationErrors">
        <div class="small-12 columns">
            <a ng-click="clearValidationErrors()">
                <label class="error">Validation Error(s) click to clear</label>
            </a>
        </div>
    </div>

    <br/>

    <div class="row" ng-show="navSection">
        <div class="small-12 columns">
            <button type="button" class="tiny" ng-click="cancel()">Cancel</button>
            <button type="button" class="tiny" ng-click="save()" ng-disabled="isClean()
                                                                            || myForm.$invalid
                                                                            || hasValidationErrors">
                Save
            </button>
            <button ng-click="delete()" ng-show="patient.id" class="tiny">Delete</button>

        </div>
    </div>
</form>

    <!-- used to fire pageLoaded() only -->
    <span ng-show="pageLoaded()"></span>

</div>